body {
    color: #000;
    margin: 0 auto;
    overflow-x: hidden;
    border: solid 15px;
    letter-spacing: 1px;
    border-color: #141414;    
    border-top-width: 40px;
    border-bottom-width: 40px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */  
}

.category-group {
	width: 90%;
	height: 39px;
	color: #0084ad;
	cursor: pointer;
	font-weight: 900;
	line-height: 39px;
	padding-left: 10px;
	background-color: #fff;
	text-transform: uppercase;
	border: 1px solid #0084ad;
	border-bottom: none;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
}
.category-group:last-of-type {
	border-bottom: 1px solid #0084ad;
}
.category-group:hover {
	background-color: rgb(223, 237, 243);
}
.category-group.selected {
	color: #fff;
	background-color: #0084ad;
}
.categories-title {
	font-weight: 900;
	padding-left: 10px;
	color: rgb(20, 20, 20);
}



.category-title {
	margin-bottom: 0;
	font-weight: 900;
	padding-left: 10px;
	background-color: rgb(7, 135, 171);
	color: white;
	height: 30px;
	line-height: 30px;
	border-radius: 5px 5px 0 0;
}

.terms-box {
	padding: 10px 0;
	background-color: rgb(223, 237, 243);
}

.term {
	padding: 3px;
	cursor: pointer;
	color: white;
	margin-left: 5px;	
	font-weight: 700;
	border-radius: 3px;
	text-align: center;
	line-height: 25px;
	background-color: #0787AB;
}